@import "tailwindcss";
@import "@catppuccin/palette/css/catppuccin.css";

@theme {
  --color-ctp-base: var(--ctp-mocha-base);
  --color-ctp-mantle: var(--ctp-mocha-mantle);
  --color-ctp-crust: var(--ctp-mocha-crust);
  --color-ctp-text: var(--ctp-mocha-text);
  --color-ctp-subtext1: var(--ctp-mocha-subtext1);
  --color-ctp-subtext0: var(--ctp-mocha-subtext0);
  --color-ctp-mauve: var(--ctp-mocha-mauve);
  --color-ctp-pink: var(--ctp-mocha-pink);
  --color-ctp-red: var(--ctp-mocha-red);
  --color-ctp-peach: var(--ctp-mocha-peach);
  --color-ctp-yellow: var(--ctp-mocha-yellow);
  --color-ctp-green: var(--ctp-mocha-green);
  --color-ctp-teal: var(--ctp-mocha-teal);
  --color-ctp-blue: var(--ctp-mocha-blue);
  --color-ctp-lavender: var(--ctp-mocha-lavender);
  --color-ctp-surface0: var(--ctp-mocha-surface0);
  --color-ctp-surface1: var(--ctp-mocha-surface1);
  --color-ctp-surface2: var(--ctp-mocha-surface2);
  --color-ctp-overlay0: var(--ctp-mocha-overlay0);
  --color-ctp-overlay1: var(--ctp-mocha-overlay1);
  --color-ctp-overlay2: var(--ctp-mocha-overlay2);
  --font-sans: "Manrope", ui-sans-serif, system-ui, sans-serif;
  --font-serif: "Audiowide", ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
}

@layer base {
  body {
    @apply bg-ctp-base text-ctp-text font-sans;
  }

  h1 {
    @apply text-4xl font-bold text-center text-ctp-subtext0;
  }

  h2 {
    @apply text-2xl font-semibold text-ctp-subtext1;
  }
}

@layer components {


  .button-primary {
    @apply bg-ctp-yellow text-ctp-green px-4 py-2 rounded-md font-medium hover:bg-ctp-mantle transition;
  }

  .button-secondary {
    @apply bg-ctp-yellow text-ctp-green px-4 py-2 rounded-md hover:bg-ctp-mantle transition;
  }

  .input {
    @apply bg-ctp-yellow border rounded-md px-3 py-2 text-ctp-mantle;
  }
}